{% extends 'base.html' %} 

{% block content %}

<div class="d-flex">
  <!-- SIDEBAR -->
  <div
    class="bg-light text-dark p-3 d-flex flex-column"
    style="width: 220px; height: 100vh" >
    <div>
      <h4 class="text-center">ParkEase</h4>
      <hr />

      <a href="{% url 'register' %}" class="d-block text-dark mb-2">
        ➕ Register Vehicle
      </a>  
      </a>
    </div>

    <!-- user profile -->
    <div class="mt-auto">
      <hr />

      <div class="text-center">
        <div class="mb-2">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>

        <strong>{{ request.user.username }}</strong><br />
        <strong>{{ request.user.role}}</strong> <br>
        
      </div>
    </div>
  </div>

  <div class="p-4 w-100">
    <h2 class="text-center mb-4">Dashboard</h2>

    <!-- CARDS -->
    <div class="row text-center mb-4">
      <div class="col-md-4">
        <div class="card shadow bg-light text-dark p-3">
          <h5>Total Vehicles</h5>
          <h3>{{ vehicles.count }}</h3>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow bg-light text-dark p-3">
          <h5>Today's Revenue</h5>
          <h3>UGX {{ today_revenue|floatformat:0 }}</h3>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card shadow bg-light text-dark p-3">
          <h5>Available Slots</h5>
          <h3>{{ available_slots }}</h3>
        </div>
      </div>
    </div>

    <!-- SEARCH -->
    <form method="GET" class="mb-3">
      <div class="row">
        <div class="col-md-10">
          <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search by number plate"
          />
        </div>
        <div class="col-md-2">
          <button class="btn btn-info text-dark w-100">Search</button>
        </div>
      </div>
    </form>

    <!-- VEHICLE TABLE -->
    <div class="card shadow">
      <div class="card-header bg-light text-dark">🚗 Vehicle List</div>

      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th>Driver</th>
              <th>Plate</th>
              <th>Type</th>
              <th>Arrival</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            {% for vehicle in vehicles %}
            <tr>
              <td>{{ vehicle.driver_name }}</td>
              <td>{{ vehicle.number_plate }}</td>
              <td>{{ vehicle.vehicle_type }}</td>
              <td>{{ vehicle.arrival_time }}</td>
              <td>
                <span
                  class="badge bg-{% if vehicle.status == 'parked' %}success{% else %}secondary{% endif %}"
                >
                  {{ vehicle.status }}
                </span>
              </td>

              <td>
                {% if vehicle.status == 'parked' %}

                <a
                  href="{% url 'receipt' vehicle.id %}"
                  class="btn btn-sm btn-info"
                >
                  🧾 Receipt
                </a>

                <a
                  href="{% url 'signout' vehicle.id %}"
                  class="btn btn-sm btn-danger"
                >
                  🚪 Sign Out
                </a>

                {% else %}
                <span class="badge bg-success">Cleared</span>
                {% endif %}
              </td>
            </tr>

            {% empty %}
            <tr>
              <td colspan="6" class="text-center text-danger">
                No vehicles found
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    
    
  </div>
</div>

{% endblock %}
